.calc-btn{
	font-weight: 400;
	background-color: inherit;
	font-family: sans-serif;
	border:none;
	outline: none;
	color: white;
	border-radius: 50mm;
	background-position: center;
	transition: background 200ms;
	font-size: 2em;
	overflow: hidden;
	text-align: center;
	padding: 0mm;

}
