

$bgcolor:rgb(40,40,40);
$txtcolor:white;



body{
	background-color: $bgcolor;
	color:var(--txtcolor);
	margin: 4mm 0 0 0;
}



#calculator-root{
	display: grid;
	grid-template-rows:10% 30% 60%;
	height: 84vh;
}
